[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
xgboost = "*"
lightgbm = "*"
category-encoders = "*"
mlflow = "*"
hyperopt = "*"
boto3 = "*"
python-dotenv = "*"

[dev-packages]
notebook = "*"
category-encoders = "*"
matplotlib = "*"
seaborn = "*"

[requires]
python_version = "3.12"
