[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
flask = "*"
marshmallow = "*"
boto3 = "*"
mlflow = "*"
scikit-learn = "*"
xgboost = "*"
lightgbm = "*"
category-encoders = "*"
python-dotenv = "*"
setuptools = "*"

[dev-packages]
requests = "*"
pytest = "*"
pytest-mock = "*"
deepdiff = "*"
pylint = "*"
black = "*"

[requires]
python_version = "3.12"
